/ This about this template as about a library, it
/ provides some blocks (API) and it changes others.
- block(:scripts).unshift("ga.js")

- block(:google_analytics) do
  / Google Analytics
  %script
    // Some clever JS magic.
